@tailwind base;
@tailwind components;
@tailwind utilities;

/* Target ANY scrollable container */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0b213a;
}

::-webkit-scrollbar-thumb {
  background-color: #006d77;
  border-radius: 4px;
}

/* X_EM font styling */
@font-face {
  font-family: "Nexus";
  src: url("./assets/fonts/nexus.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}